:root{
    --fondoClaro:#FCF5ED;
    --fondoOscuro:#1F1717;
    --blurClaroActivo:rgba(255,255,255,0.8);
    --blurClaroInactivo:rgba(255,255,255,0.4);
    --blurOscuroActivo:rgba(0,0,0,0.8);
    --blurOscuroInactivo:rgba(0,0,0,0.4);
}
.fondo{
    background: var(--fondoClaro);
    margin: 30px;
}

.perfil{
    width: 405px;
    height: 500px;
    margin: 30px;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    width: 100%;
}

.contenedorTexto{
    color: var(--fondoOscuro);
    flex-direction: column;
    margin-right: 30px;
}

.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 1300px;
    height: 580px;
    background-color: var(--blurClaroInactivo);
    backdrop-filter: blur(1px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.tituloBanner{
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: var(--fondoOscuro);
}

.subtituloBanner{
    font-family: "JetBrains Mono", monospace;
    font-size: 25px;
    font-weight: bold;
    color: var(--fondoOscuro);
}

.textoBanner{
    display: flex;
    flex-wrap: wrap;
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    line-height: 1.5;
    font-weight: normal;
    color: var(--fondoOscuro);

}

.contenedorIconos{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 20px 0;
}

@media  (prefers-color-scheme: dark ){
    .github.adaptive{
        color: rgb(255, 255, 255);
    }

    .fondo.adaptive{
        background: var(--fondoOscuro);
    }

    .contenedorTexto.adaptive{
        color: var(--fondoClaro);
    }

    .banner.adaptive{
        box-shadow: 0 10px 30px rgba(255, 255, 255, 0.2);
        background-color: var(--blurOscuroInactivo);
    }

    .tituloBanner.adaptive{
        color: var(--fondoClaro);
    }

    .subtituloBanner.adaptive{
        color: var(--fondoClaro);
    }

    .textoBanner.adaptive{
        color: var(--fondoClaro);

    }

}